body {
    background-color: #f8fafd;
    color: #252525;
    font-family: 'Inter', sans-serif;
    padding: 2rem;
}

main {
    max-width: 780px;
    margin: 0 auto;
}

.hero {
    text-align: center;
    padding-bottom: 3rem; /*16px é a unidade padrão definida no reset CSS. 16*3 = 48px */
}

.hero .title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.hero .subtitle {
    font-size: 1.125rem;
    color: #828282;
}

.box {
    background: #fff;
}